@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: bold;
    src: url(assets/Helvetica-Bold.ttf);
}
@font-face {
    font-family: regular;
    src: url(assets/Helvetica.ttf);
}

* {
    box-sizing: border-box;
    font-family: regular;
}
.title {
    font-family: bold;
    font-weight: 700;
    font-size: 5rem;
    margin: 1rem 0;
}
